body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color 0.5s ease-in-out;
}

.clicked { /* 이 class를 어떤 element든(h1, span 등) 지정해주면, tomato색을 가짐*/
    color: tomato;
}